// paleta de coleres//
$color-principal: beige;
$color-footer: burlywood;
$color-header: burlywood;
$color-texto: rgb(36, 5, 65);
$color-link: black;

// Font size y padding//

$font-size-principal: 25px;
$font-size-header: 26px;
$font-size-item1: 25px;
$font-size-hijo1: 26px; 
$padding-general: 20px;

